@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
:root {
  --primary-color: #C0392B;
  --secondary-color: #F2D7D5;
}

body {
  background: white;
  margin: 0;
  font-family: 'Roboto Mono';
}

.menu {
  background: whitesmoke;
  padding: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.menu .logo {
  text-decoration: none;
  font-weight: bolder;
  color: black;
  font-size: 1.2em;
}

.menu .logo span {
  color: var(--primary-color);
}

.menu nav {
  display: none;
}

.menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.menu .mobile-menu {
  cursor: pointer;
}

a {
  color: #641E16;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.mainPage {
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
  background: url(../images/homescreenairplane.jpeg);
  padding: none;
  margin: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.left-col .subheader {
  text-transform: uppercase;
  font-weight: bold;
  color: #CD6155;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2.5em;
  font-weight: bolder;
  line-height: 1.3em;
  margin-top: .2em;
}

.left-col .primary-cta {
  background: var(--primary-color);
  color: #F2D7D5;
  text-decoration: none;
  padding: .5em 1.2em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

section.display-tables {
  background-color: var(--secondary-color);
}

section.display-tables .exampleTable table {
  display: none;
}

section.updating-tables {
  background-color: var(--secondary-color);
}

section.AboutUs {
  background-color: white;
}

section.AboutUs h2 {
  font-size: 2em;
  color: var(--primary-color);
}

section.AboutUs .aboutus-left {
  font-size: 1em;
  font-weight: bolder;
}

section.AboutUs .aboutus-right .flightcrew {
  width: 100%;
  position: center;
}

section.contact {
  background-color: var(--secondary-color);
}

section.contact .contact-left h2 {
  font-size: 2em;
  font-weight: bolder;
  color: var(--primary-color);
}

section.contact .contact-left label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

section.contact .contact-left input, section.contact .contact-left textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid grey;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.contact .contact-left input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  border: none;
  margin-bottom: 2.5em;
  border-radius: 2.5em;
  display: inline-block;
  padding: .7em 1em;
  width: unset;
  cursor: pointer;
}

nav.mobile-menu {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 45%;
  right: 0;
  top: 0;
  background-color: #F2D7D5;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: #641E16;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: center;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .menu .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .menu nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .menu nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu nav a {
    color: #641E16;
    font-size: 1em;
    padding: .1em 1em;
  }
  .menu nav ul.primary-nav {
    margin: 0;
  }
  .menu nav li.current a {
    font-weight: bold;
  }
  table {
    table-layout: fixed;
    text-overflow: hidden;
  }
}

@media only screen and (min-width: 1080px) {
  .contact {
    position: relative;
  }
  .contact .container {
    display: block;
  }
}

.LINKSpage {
  background-color: #F2D7D5;
}

.LINKSpage h1 {
  font-weight: bolder;
  font-size: 2em;
  color: var(--primary-color);
}

.LINKSpage li a {
  font-size: 1.2em;
  text-decoration: none;
}

.boardingPage {
  background-color: #F2D7D5;
}

.boardingPage .topOfboarding h1 {
  font-weight: bolder;
  font-size: 2em;
  color: var(--primary-color);
}

.boardingPage .topOfboarding h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.boardingPage .boardingtable table, .boardingPage .boardingtable th, .boardingPage .boardingtable tr {
  border: 2px groove var(--primary-color);
  border-collapse: collapse;
  padding: 1em;
  font-weight: 1em;
}

.boardingPage button {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: none;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-radius: 1.5em;
  display: inline-block;
  padding: .7em 1em;
  width: auto;
  cursor: pointer;
}

.boardingPage .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(205, 97, 85, 0.5);
}

.boardingPage .modal-content {
  background-color: #CD6155;
  margin: 30% auto;
  padding: 20px;
  width: 75%;
  -webkit-box-shadow: 0 5px 8px 0 rgba(100, 30, 22, 0.3), 0 7px 20px 0 rgba(100, 30, 22, 0.5);
          box-shadow: 0 5px 8px 0 rgba(100, 30, 22, 0.3), 0 7px 20px 0 rgba(100, 30, 22, 0.5);
}

.airplanePage {
  background-color: #F2D7D5;
}

.airplanePage .topOfAirplane h1 {
  font-weight: bolder;
  font-size: 2em;
  color: var(--primary-color);
}

.airplanePage .topOfAirplane h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.airplanePage .airplanetable table, .airplanePage .airplanetable th, .airplanePage .airplanetable tr {
  border: 2px groove var(--primary-color);
  border-collapse: collapse;
  padding: 1em;
}

.airplanePage button {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: none;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-radius: 1.5em;
  display: inline-block;
  padding: .7em 1em;
  width: auto;
  cursor: pointer;
}

.airplanePage .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(205, 97, 85, 0.5);
}

.airplanePage .modal-content {
  background-color: #CD6155;
  margin: 30% auto;
  padding: 20px;
  width: 75%;
  -webkit-box-shadow: 0 5px 8px 0 rgba(100, 30, 22, 0.3), 0 7px 20px 0 rgba(100, 30, 22, 0.5);
          box-shadow: 0 5px 8px 0 rgba(100, 30, 22, 0.3), 0 7px 20px 0 rgba(100, 30, 22, 0.5);
}

.flightsPage {
  background-color: #F2D7D5;
}

.flightsPage .topOfFlights h1 {
  font-weight: bolder;
  font-size: 2em;
  color: var(--primary-color);
}

.flightsPage .topOfFlights h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.flightsPage .flightstable table, .flightsPage .flightstable th, .flightsPage .flightstable tr {
  border: 2px groove var(--primary-color);
  border-collapse: collapse;
  padding: 1em;
}

.flightsPage button {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: none;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-radius: 1.5em;
  display: inline-block;
  padding: .7em 1em;
  width: auto;
  cursor: pointer;
}

.flightsPage .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(205, 97, 85, 0.5);
}

.flightsPage .modal-content {
  background-color: #CD6155;
  margin: 30% auto;
  padding: 20px;
  width: 75%;
  -webkit-box-shadow: 0 5px 8px 0 rgba(100, 30, 22, 0.3), 0 7px 20px 0 rgba(100, 30, 22, 0.5);
          box-shadow: 0 5px 8px 0 rgba(100, 30, 22, 0.3), 0 7px 20px 0 rgba(100, 30, 22, 0.5);
}
/*# sourceMappingURL=main.css.map */